@media screen and (max-height: 870px) {
  #notify {
    height: 90%;
  }
}

@media screen and (max-height: 770px) {
  #theme-section {
    width: 60px;
  }

  #current-theme {
    margin-left: 14px;
  }

  #available-themes {
    gap: 3px;
  }

  .theme {
    min-width: 32px;
    height: 32px;
  }

  .date {
    padding: 6px 0 0 6px;
  }

  .reminder-indicator {
    bottom: 6px;
    right: 6px;
  }
  #reminder-creating-container {
    padding: 0 20px;
    grid-template-rows: 1fr 1fr 1fr 1fr 12fr 3fr;
  }
  #notify {
    grid-template-rows: 2fr 2fr 15fr 3fr;
  }
}

@media screen and (max-height: 720px) {
  #notify {
    grid-template-rows: 2fr 2fr 10fr 3fr;
  }
}

@media screen and (max-height: 650px) {
  #reminder-action-btns {
    gap: 8px;
  }

  #reminder-action-btns button {
    width: 30%;
  }
  .reminder-indicator {
    bottom: 0px;
    right: 0px;
    border-radius: 0px;
    width: 100%;
    height: 60%;
  }
  #reminder-container {
    grid-template-rows: 1fr 14fr 3fr;
  }
  #add-reminder {
    margin: 0 10%;
  }
}

@media screen and (max-height: 630px) {
  .calendar-entry,
  .reminder-indicator {
    font-size: 13px;
  }

  #reminders-list > button {
    grid-template-columns: 3fr 1fr;
  }
}

@media screen and (max-height: 600px) {
  .theme {
    min-width: 24px;
    height: 24px;
    border: 4px solid;
  }
  #theme-section {
    width: 48px;
  }
  #current-theme {
    margin-left: 12px;
  }
}

@media screen and (max-height: 570px) {
  #theme-section {
    height: 38px;
    width: 46px;
  }

  #current-theme {
    margin-left: 7px;
  }

  .reminder-indicator {
    color: transparent;
    width: 70%;
    border-top: 1px solid rgba(var(--theme-text-border), 1);
    border-left: 1px solid rgba(var(--theme-text-border), 1);
  }
  #month-section {
    width: unset;
  }

  .month-btn {
    height: 36px;
    width: 36px;
  }
  #month {
    height: 36px;
  }

  #reminder-viewing-container h3,
  #reminder-creating-container h3 {
    font-size: 24px;
    margin-top: 36px;
    padding-left: 15px;
  }

  #create-reminder-title-input {
    height: 32px;
    margin: 4px 0px;
  }

  #reminder-creating-container span {
    height: 32px;
  }

  #reminder-creating-container label {
    margin: 4px 0px;
  }

  #reminder-container {
    grid-template-rows: 1fr 15fr 4fr;
  }

  #reminder-creating-container {
    grid-template-rows: 1fr 1fr 1fr 1fr 10fr 4fr;
  }

  #reminder-creating-container div:not(#textarea-container) {
    padding: 0 6px;
  }

  #reminder-creating-container div button {
    width: calc(50% - 4px);
    margin: 0 2px;
  }
  #reminders-list > button {
    grid-template-columns: 3fr 2fr;
  }
  #notify {
    grid-template-rows: 2fr 2fr 10fr 3fr;
  }
}

@media screen and (max-height: 550px) {
  #notify {
    grid-template-rows: 3fr 3fr 10fr 3fr;
  }
}

@media screen and (max-height: 500px) {
  #header {
    padding: 10px 0px;
  }
  #available-themes {
    flex-wrap: wrap;
    align-content: center;
  }
  #theme-section {
    height: 38px;
    width: 38px;
  }

  #current-theme {
    min-width: 24px !important;
    height: 24px !important;
    border: 5px solid !important;
  }
  #reminder-creating-container div:not(#textarea-container) {
    padding: 0px;
  }

  .theme {
    height: 15px !important;
    min-width: 24px !important;
  }
  .theme-active:not(.theme) {
    width: 290px !important;
  }

  #reminder-container h2 {
    margin: 0 auto;
  }
  #reminder-container {
    grid-template-rows: 1fr 15fr 5fr;
  }

  #notify {
    grid-template-rows: 3fr 3fr 11fr 4fr;
  }
}

@media screen and (max-height: 470px) {
  #reminder-creating-container div:not(#textarea-container) {
    height: 30px;
  }
  #reminder-creating-container div button {
    font-size: 14px;
  }
  #reminder-action-btns button {
    width: 40%;
  }

  #notify {
    grid-template-rows: 3fr 2fr 10fr 4fr;
  }
}

@media screen and (max-height: 440px) {
  #reminder-container {
    grid-template-rows: 1fr 15fr 6fr;
  }
  #reminder-viewing-container h3,
  #reminder-creating-container h3 {
    font-size: 21px;
    margin-top: 28px;
    padding-left: 14px;
  }

  #notify {
    grid-template-rows: 3fr 2fr 8fr 4fr;
  }
}

@media screen and (max-height: 380px) {
  .calendar {
    min-width: 610px !important;
    min-height: 300px !important;
  }

  #weekday-list li {
    min-height: 25px;
  }

  #reminder-container {
    grid-template-rows: 1fr 15fr 7fr;
    width: 155px !important;
    height: 300px !important;
  }
  #add-reminder {
    bottom: 10px;
  }
}

@media screen and (max-width: 1750px) {
  .reminder-indicator {
    right: 0px;
    bottom: 0px;
    border-bottom-right-radius: 0px;
  }
}

@media screen and (max-width: 1520px) {
  .calendar-entry {
    font-size: 14px;
  }
  .reminder-indicator {
    bottom: 0px;
    right: 0px;
    border-radius: 0px;
    width: 100%;
  }
  #reminder-creating-container {
    grid-template-rows: 1fr 1fr 1fr 1fr 12fr 3fr;
  }
}

@media screen and (max-width: 1420px) {
  #theme-section {
    width: 60px;
  }

  #current-theme {
    margin-left: 14px;
  }

  #available-themes {
    gap: 3px;
  }

  .theme {
    min-width: 32px;
    height: 32px;
  }
}

@media screen and (max-width: 1240px) {
  #theme-section {
    width: 48px;
  }

  #current-theme {
    margin-left: 12px;
  }

  #available-themes {
    gap: 2px;
  }

  #current-theme,
  .theme {
    min-width: 24px;
    height: 24px;
    border: 5px solid;
  }

  .reminder-indicator {
    width: 70%;
    border-top: 1px solid rgba(var(--theme-text-border), 1);
    border-left: 1px solid rgba(var(--theme-text-border), 1);
    color: transparent;
  }
  #reminder-creating-container {
    grid-template-rows: 1fr 1fr 1fr 1fr 11fr 4fr;
  }
}

@media screen and (max-width: 1120px) {
  #theme-section {
    height: 36px;
  }

  #month-section {
    width: 238px;
  }

  #month {
    height: 36px;
  }
  .month-btn {
    width: 36px;
    height: 36px;
  }
  #reminder-creating-container {
    grid-template-rows: 1fr 1fr 1fr 1fr 11fr 5fr;
  }
  #reminder-creating-container div:not(#textarea-container) {
    padding: 0 8px;
  }
  #notify {
    width: 90%;
    height: 90%;
  }
}

@media screen and (max-width: 1000px) {
  .theme {
    height: 12px;
    border: solid 3px;
  }

  #available-themes {
    flex-wrap: wrap;
  }
  #theme-section {
    height: 40px;
    padding: 4px 0px;
  }
  .theme-active:not(.theme) {
    width: 290px !important;
  }
  .reminder-indicator {
    width: 60%;
    height: 100%;
    border-top: unset;
  }

  #reminder-container button,
  #notify button {
    min-height: 40px;
  }

  #reminder-viewing-container h3,
  #reminder-creating-container h3 {
    font-size: 22px;
    line-height: 0.85;
    margin-top: 16px;
  }
  #reminders-list > button {
    height: 40px;
    grid-template-columns: 4fr 2fr;
  }
  #reminder-creating-container div button {
    font-size: 14px;
    font-weight: bolder;
  }
  #reminder-creating-container {
    grid-template-rows: 1fr 1fr 1fr 1fr 11fr 6fr;
  }
}

@media screen and (max-width: 810px) {
  body {
    padding: 0px;
  }
  .calendar {
    min-width: 615px !important;
    min-height: 320px !important;
  }
  #reminder-container {
    min-width: 160px !important;
    min-height: 318px !important;
  }
  #theme-section,
  #month-section,
  #month,
  .month-btn {
    height: 32px;
  }
}

@media screen and (max-height: 320px) and (max-width: 1000px) {
  .reminder-indicator {
    border-top: 1px solid rgba(var(--theme-text-border), 1);
  }
}

@media screen and (max-height: 320px) and (max-width: 1200px) {
  #theme-section {
    width: 48px;
  }
}

@media screen and (max-height: 320px) and (max-width: 1420px) {
  #theme-section {
    width: 52px;
  }
}

@media screen and (max-height: 320px) and (max-width: 1520px) {
  .reminder-indicator {
    height: 44%;
  }
}

@media screen and (max-height: 320px) and (max-width: 1750px) {
  .reminder-indicator {
    right: 0px;
    bottom: 0px;
  }
}

@media screen and (max-height: 320px) and (max-width: 1920px) {
  #reminder-creating-container {
    grid-template-rows: 1fr 1fr 1fr 1fr 10fr 5fr;
  }
}

@media screen and (max-width: 780px) {
  body:before {
    content: "mobile";
    width: 100%;
    height: 30px;
    background-color: var(--theme);
    font-size: 24px;
    padding-left: 30px;
    font-weight: bold;
    position: fixed;
    top: 0px;
    box-shadow: inset 0px 0px 14px 8px rgb(0 0 0 / 45%),
      inset 0px 0px 7px 0px
        rgba(var(--R-value), var(--G-value), var(--B-value), 75%);
    text-shadow: 1px 1px 1px rgb(37, 37, 37), -1px -1px 1px rgb(37, 37, 37),
      -1px 1px 1px rgb(37, 37, 37), 1px -1px 1px rgb(37, 37, 37);
    color: white;
  }

  body {
    flex-direction: column;
    padding-top: 30px;
  }

  .calendar,
  #reminder-container {
    width: 100% !important;
  }

  .calendar {
    flex: 2;
  }

  #reminder-container {
    flex: 1;
  }
  #notify {
    display: fixed;
    top: 0px;
    border-radius: 0px;
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 620px) {
  .calendar,
  #reminder-container {
    min-height: unset !important;
    min-width: unset !important;
  }
  .reminder-indicator {
    height: 50%;
    border-top: 1px solid rgba(var(--theme-text-border), 1);
  }
  #reminder-viewing-container h3,
  #reminder-creating-container h3 {
    margin-top: 6px;
  }
  #reminder-creating-container {
    grid-template-rows: 1fr 1fr 1fr 1fr 7fr 3fr;
  }
  #reminder-creating-container div button {
    font-size: 13px;
  }
  #reminder-creating-container label {
    font-size: 16px;
    margin: 4px 0px;
  }
  #reminder-creating-container div:not(#textarea-container) {
    height: 30px;
  }
  #reminder-creating-container span {
    height: 30px;
  }
  #create-reminder-title-input {
    margin: 4px 0px;
    height: 30px;
  }
}

@media screen and (max-width: 600px) {
  #weekday-list li {
    font-size: 16px;
    padding: 0px 2px;
  }
  #week-number div {
    font-size: 16px;
    padding: 8px 0 0 4px;
  }

  #header:has(#theme-section.theme-active) {
    position: fixed;
    width: 100% !important;
    height: 100% !important;
    z-index: 5;
  }

  #theme-section.theme-active {
    position: fixed;
    width: 100% !important;
    height: 100% !important;
    border-radius: 0px;
    z-index: 5;
    gap: 0px;
    padding: 0px;
    flex-direction: column;
  }
  #theme-section.theme-active #current-theme {
    min-width: 48px;
    min-height: 48px;
    width: 48px;
    height: 48px;
    margin: 10px 0px;
  }

  #available-themes {
    gap: 10px;
    flex-direction: column;
    padding: 20px;
    border: none;
    width: 100%;
    overflow: hidden;
    align-items: stretch;
  }

  #available-themes li {
    flex-basis: 20%;
    flex-grow: 1;
  }
  .theme {
    width: 130px;
    height: 160px;
    width: 100%;
    height: 100%;
    border: 10px solid;
  }
}

@media screen and (max-width: 420px) {
  #theme-section:not(.theme-active) {
    position: absolute;
    right: 20px;
  }
}

@media screen and (max-width: 360px) {
  #month-section {
    width: 200px;
    margin-left: 10px;
  }
  .month-btn {
    width: 24px;
    border-radius: 2px;
    font-size: 16px;
  }
  #month {
    width: 152px;
  }

  #available-themes {
    gap: 6px;
  }
}
